*,
::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "poppins", sans-serif;
}

body {
    background: linear-gradient(rgb(70, 12, 70), rgb(15, 15, 15));
    color: rgb(255, 255, 255);
    height: 100vh;
}

.container {
    width: 70%;
    margin: 2rem auto;
    /* Ajusta el margen superior a -2rem */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */

}


.container h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

.formulario-datos {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.formulario-datos input {
    margin: 1rem 0rem;
    line-height: 3rem;
    color: white;
    cursor: pointer;
    background-color: rgb(48, 48, 48);

}

.formulario-datos input:active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.formulario-datos input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.formulario-datos button {
    margin: 1rem 0rem;
    background-color: rgb(48, 48, 48);
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

input:hover {
    transform: scale(1.1);
}


.listado-tareas {
    display: flex;
    flex-direction: column;
}

.tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono {
    cursor: pointer;
    color: rgb(255, 255, 255);
}